# nos dice si un directorio es un enlace simbólico, que lo siga.
Options +FollowSymLinks

#  le decimos a Apache que queremos sobre escribir las URLs para crear URLs amigables.
RewriteEngine on


#configuración para redirección con url amigables

#Options All -Indexes

DirectoryIndex index.php

ErrorDocument 400 /index.php?dir=error400
ErrorDocument 401 /index.php?dir=error401
ErrorDocument 403 /index.php?dir=error403
ErrorDocument 404 /index.php?dir=error404
ErrorDocument 404 /pages.php?dir=error404
ErrorDocument 500 /index.php?dir=error404

RewriteRule ^index$ index.php
RewriteRule ^register$ index.php?dir=register

RewriteRule ^dashboard$ pages.php
RewriteRule ^dashboard$ pages.php?dir=dashboard
RewriteRule ^product$ pages.php?dir=product
RewriteRule ^marketplace$ pages.php?dir=marketplace
RewriteRule ^msg$ pages.php?dir=msg
RewriteRule ^error404$ pages.php?dir=error404
RewriteRule ^contacts$ pages.php?dir=contacts
RewriteRule ^bought-things$ pages.php?dir=bought-things

RewriteRule ^perfile-(.*)-(.*)$ pages.php?dir=perfile&usr=$1&name=$1

# evitar que se muestren ciertos tipos de archivo
IndexIgnore *.css *.map *.js *.png *.jpg *.wmv *.mp4 *.avi *.etc





